// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');


body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

table {
  font-size: 14px;
}

[v-cloak] {
    display:none;
}

.container-page {
    min-height: 1200px;
}


@import "node_modules/toastr/toastr.scss";

